<div class="invitation-card">
  <p>You are invited to <%= link_to invitation.event.title, event_path(invitation.event_id) %>.</p>
  <%= link_to "Accept", accept_path(invitation: {id: invitation.id }), method: :post %>
  <%= link_to "Decline", decline_path(invitation: {id: invitation.id }), method: :delete %>
</div>